


#main{
    display: flex;
    justify-content:center;
    gap: 15px;
    flex-wrap: wrap;
   
}
.box{
    width: 380px;
    height: 450px;
    background-size: cover;
    text-align: center; 
}
.box>img:hover{
    transform: scale(1.03);
    transition-duration: 1s;
}
.box>p{
    color: gray;
    letter-spacing: 1px;
}

h1{
    display: flex;
    justify-content: center;
}

#writing{
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 20px;
    height: fit-content;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column; 
    background-color: #F8F9FB;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    border: .1px solid #198754;
    text-align: center;
   
    
}

 .content>p{
    font-size: 20px;
}

.content>input{
    padding: .8rem 2rem;
    /* width: 300px; */
    font-size: 20px;
    align-self: center;
    border: none;
    background-color: #198754;
    color: white;

}
h1{
    font-family: 'Optima LT W02 Roman';
    font-weight: 400;
    text-transform: uppercase;
    
}



.footer{
    margin-top: 40px;
    background-color:#F8F9FB;
    display: flex;
    flex-direction: column;
}
.upper-part{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    ;flex-wrap: wrap;
}
.icons{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.fa{
    font-size: larger;
    cursor: pointer;
}
.input{
    display: flex;
    gap: 0px;
}
.input>input{
    padding: 1rem 4rem;
    border: none;
    outline: none;
}
.input>button{
    background-color: grey;
    color: white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}
.input>button:hover{
    background-color: rgb(234, 31, 65);
    color: white;
}
.footer-middle{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.midbox{
    width: 280px;
    margin-top: 20px;
}
.midbox>b{
    letter-spacing: 2px;
}
.midbox>ul>li{
    color: rgb(104, 99, 99);
    list-style-type: none;
    line-height: 3;
    letter-spacing: 1px;
}
.last{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 10px;
}
.toc{
    width: 220px;
    text-align: center;
    border-right: 1px solid black;
    color: grey;
    cursor: pointer;
}
.toc:hover{
    color: rgb(51, 180, 223);
}